name: Backport labeled PRs after merge
on:
  pull_request:
    types: [closed]
jobs:
  build:
    name: Create backport PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Create backport PRs
        uses: korthout/backport-action@v3.4.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_workspace: ${{ github.workspace }}
